<div class="container">
  <header class="login-header">
    <h1 class="header-title">Hospital Management System</h1>
    <h1 class="sub-title">User Sign In</h1>
  </header>
  <section style="margin-top: 0">
    <div class="row login-row">
      <div class="col">
        <div class="card-section">
          <h1 class="sub-title">Welcome Back!</h1>
          <div>
            <form #loginForm = 'ngForm' (submit)=onSubmit(loginForm)>
              <div class="form-div-area">
                <input class="form-control"
                       type="email"
                       id="email"
                       name="email"
                       placeholder="JohnDoe@Email.com"
                       ngModel #email = 'ngModel'
                       required
                >
              </div>
              <div class="form-div-area">
                <input class="form-control"
                       type="text"
                       id="password"
                       name="password"
                       placeholder="Password"
                       ngModel #email = 'ngModel'
                       required
                >
              </div>
              <button class="btn btn-primary" type="submit" [disabled]="loginForm.invalid">Sign In</button>
            </form>
          </div>
        </div>
      </div>
      <div class="col lottie-section">
        <div>
          <img src="assets/img/hospital2.png"></div>
      </div>
    </div>
  </section>
</div>
