<nav class="navbar navbar-expand-md">
  <div class="container-fluid">
    <div id="brand-image">
      <img src="../assets/img/hospital-logo.png" width="110" height="100%">
    </div>
    <button data-bs-toggle="collapse" class="navbar-toggler" data-bs-target="#navcol-1">
      <span class="visually-hidden">Toggle navigation</span
      ><span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navcol-1">
      <ul class="list-inline navbar-nav">
        <li class="list-inline-item navigation-item">Home</li>
        <li class="list-inline-item navigation-item selected-item">Home</li>
        <li class="list-inline-item navigation-item">Home</li>
        <li class="list-inline-item navigation-item">Home</li>
        <li class="list-inline-item navigation-item">Home</li>
      </ul>
      <ul class="list-inline ms-auto navbar-nav">
        <li class="list-inline-item navigation-item"><span>Dr. John Doe<img class="border rounded-circle img-profile" src="../assets/img/avatar1.jpeg" width="40"></span></li>
      </ul>
    </div>
  </div>
</nav>
