<nav class="navbar navbar-expand-md">
  <div class="container-fluid">
    <div id="brand-image">
      <img src="assets/img/hospital-logo.png" width="110" height="100%">
    </div>
    <button data-bs-toggle="collapse" class="navbar-toggler" data-bs-target="#navcol-1">
      <span class="visually-hidden">Toggle navigation</span
      ><span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navcol-1">
      <ul class="list-inline navbar-nav">
        <li class="list-inline-item navigation-item" routerLinkActive="selected-item" ><a class="nav-link" routerLink="/{{user.role_name}}/Dashboard">Home</a></li>
        <li class="list-inline-item navigation-item" routerLinkActive="selected-item" ><a class="nav-link" routerLink="/Admin/Departments">Departments</a></li>
        <li class="list-inline-item navigation-item" routerLinkActive="selected-item" *ngIf="user.role_id === 1"><a class="nav-link" routerLink="/{{user.role_name}}/Staff/Our-Doctors">Doctors</a></li>
        <li class="list-inline-item navigation-item" routerLinkActive="selected-item" *ngIf="user.role_id === 1"><a class="nav-link" routerLink="/{{user.role_name}}/Staff/Our-Nurses">Nurses</a></li>
        <li class="list-inline-item navigation-item" routerLinkActive="selected-item" *ngIf="user.role_id === 1"><a class="nav-link" routerLink="/{{user.role_name}}/Staff/Our-Patients">Patients</a></li>
<!--        <li class="list-inline-item navigation-item" routerLinkActive="selected-item" *ngIf="user.role_id === 1"><a class="nav-link" routerLink="/Patient/My-Appointments">Appointments</a></li>-->
<!--        <li class="list-inline-item navigation-item" routerLinkActive="selected-item" *ngIf="user.role_id === 1"><a class="nav-link" routerLink="/Patient/My-Prescriptions">Prescriptions</a></li>-->
        <li class="list-inline-item navigation-item" *ngIf="user.role_id === 1">
            <div class="dropdown"><a class="nav-link" aria-expanded="false" data-bs-toggle="dropdown" href="#">Add User&nbsp;</a>
              <div class="dropdown-menu"><a class="dropdown-item" routerLink="Admin/Create/Admin-Account">Admin</a>
                <div class="dropdown-divider"></div><a class="dropdown-item" routerLink="/Admin/Create/Doctor-Account">Doctor</a>
                <div class="dropdown-divider"></div><a class="dropdown-item" routerLink="/Admin/Create/Nurse-Account">Nurse</a>
                <div class="dropdown-divider"></div><a class="dropdown-item" href="#">Patient</a>
              </div>
            </div>
        </li>
      </ul>
      <ul class="list-inline ms-auto navbar-nav">
        <li class="list-inline-item navigation-item"><span>{{user.user_name}} {{user.user_surname}}<img class="border rounded-circle img-profile" src="assets/img/avatar1.jpeg" width="40"></span></li>
        <li class="list-inline-item navigation-item icon-actions"><span><i class="fa fa-sign-out" (click)="logout()" data-bs-toggle="tooltip" data-bss-tooltip="" style="font-size: 22px;margin-top: 5px;" title="Logout"></i></span></li>
      </ul>
    </div>
  </div>
</nav>
