<section>
  <header class="heading-title">
    <h1>Our Departments</h1>
    <p>Departments are organizational units within a healthcare facility that are responsible for specific medical specialties, diagnostic services, or administrative functions.&nbsp; Departments are responsible for delivering specialized healthcare services, conducting diagnostic tests and procedures, and coordinating patient care across various disciplines.<br><br></p>
  </header>
  <div class="container">
    <div>
      <div class="row">
        <div class="col">
          <div>
            <div class="department-card" style="box-shadow: 0 0 10px;">
              <h1 class="department-name"><strong>Cardiology</strong></h1>
              <div class="d-flex justify-content-center align-items-center align-content-center"><img class="description-doctor" src="assets/img/doctor-info.png" width="100" height="100">
                <p>Description<span style="font-weight: normal !important;">: The cardiology department specializes in the diagnosis and&nbsp;treatment of heart and cardiovascular diseases. Cardiologists and&nbsp;cardiovascular specialists provide care for patients with conditions&nbsp;such as coronary artery disease, heart failure, arrhythmias, and&nbsp;hypertension</span></p>
              </div>
              <div class="text-center">
                <p class="department-link">Find Out More</p>
              </div>
            </div>
            <div class="department-card" style="box-shadow: 0 0 10px;">
              <h1 class="department-name"><strong>Cardiology</strong></h1>
              <div class="d-flex justify-content-center align-items-center align-content-center"><img class="description-doctor" src="assets/img/doctor-info.png" width="100" height="100">
                <p>Description<span style="font-weight: normal !important;">: The cardiology department specializes in the diagnosis and&nbsp;treatment of heart and cardiovascular diseases. Cardiologists and&nbsp;cardiovascular specialists provide care for patients with conditions&nbsp;such as coronary artery disease, heart failure, arrhythmias, and&nbsp;hypertension</span></p>
              </div>
              <div class="text-center">
                <p class="department-link">Find Out More</p>
              </div>
            </div>
            <div class="department-card" style="box-shadow: 0 0 10px;">
              <h1 class="department-name"><strong>Cardiology</strong></h1>
              <div class="d-flex justify-content-center align-items-center align-content-center"><img class="description-doctor" src="assets/img/doctor-info.png" width="100" height="100">
                <p>Description<span style="font-weight: normal !important;">: The cardiology department specializes in the diagnosis and&nbsp;treatment of heart and cardiovascular diseases. Cardiologists and&nbsp;cardiovascular specialists provide care for patients with conditions&nbsp;such as coronary artery disease, heart failure, arrhythmias, and&nbsp;hypertension</span></p>
              </div>
              <div class="text-center">
                <p class="department-link">Find Out More</p>
              </div>
            </div>
            <div class="department-card" style="box-shadow: 0 0 10px;">
              <h1 class="department-name"><strong>Cardiology</strong></h1>
              <div class="d-flex justify-content-center align-items-center align-content-center"><img class="description-doctor" src="assets/img/doctor-info.png" width="100" height="100">
                <p>Description<span style="font-weight: normal !important;">: The cardiology department specializes in the diagnosis and&nbsp;treatment of heart and cardiovascular diseases. Cardiologists and&nbsp;cardiovascular specialists provide care for patients with conditions&nbsp;such as coronary artery disease, heart failure, arrhythmias, and&nbsp;hypertension</span></p>
              </div>
              <div class="text-center">
                <p class="department-link">Find Out More</p>
              </div>
            </div>
            <div class="department-card" style="box-shadow: 0 0 10px;">
              <h1 class="department-name"><strong>Cardiology</strong></h1>
              <div class="d-flex justify-content-center align-items-center align-content-center"><img class="description-doctor" src="assets/img/doctor-info.png" width="100" height="100">
                <p>Description<span style="font-weight: normal !important;">: The cardiology department specializes in the diagnosis and&nbsp;treatment of heart and cardiovascular diseases. Cardiologists and&nbsp;cardiovascular specialists provide care for patients with conditions&nbsp;such as coronary artery disease, heart failure, arrhythmias, and&nbsp;hypertension</span></p>
              </div>
              <div class="text-center">
                <p class="department-link">Find Out More</p>
              </div>
            </div>
          </div>
        </div>
        <div class="col">
          <div>
            <div class="department-card" style="box-shadow: 0 0 10px;">
              <h1 class="department-name"><strong>Cardiology</strong></h1>
              <div class="d-flex justify-content-center align-items-center align-content-center"><img class="description-doctor" src="assets/img/doctor-info.png" width="100" height="100">
                <p>Description<span style="font-weight: normal !important;">: The cardiology department specializes in the diagnosis and&nbsp;treatment of heart and cardiovascular diseases. Cardiologists and&nbsp;cardiovascular specialists provide care for patients with conditions&nbsp;such as coronary artery disease, heart failure, arrhythmias, and&nbsp;hypertension</span></p>
              </div>
              <div class="text-center">
                <p class="department-link">Find Out More</p>
              </div>
            </div>
            <div class="department-card" style="box-shadow: 0 0 10px;">
              <h1 class="department-name"><strong>Cardiology</strong></h1>
              <div class="d-flex justify-content-center align-items-center align-content-center"><img class="description-doctor" src="assets/img/doctor-info.png" width="100" height="100">
                <p>Description<span style="font-weight: normal !important;">: The cardiology department specializes in the diagnosis and&nbsp;treatment of heart and cardiovascular diseases. Cardiologists and&nbsp;cardiovascular specialists provide care for patients with conditions&nbsp;such as coronary artery disease, heart failure, arrhythmias, and&nbsp;hypertension</span></p>
              </div>
              <div class="text-center">
                <p class="department-link">Find Out More</p>
              </div>
            </div>
            <div class="department-card" style="box-shadow: 0 0 10px;">
              <h1 class="department-name"><strong>Cardiology</strong></h1>
              <div class="d-flex justify-content-center align-items-center align-content-center"><img class="description-doctor" src="assets/img/doctor-info.png" width="100" height="100">
                <p>Description<span style="font-weight: normal !important;">: The cardiology department specializes in the diagnosis and&nbsp;treatment of heart and cardiovascular diseases. Cardiologists and&nbsp;cardiovascular specialists provide care for patients with conditions&nbsp;such as coronary artery disease, heart failure, arrhythmias, and&nbsp;hypertension</span></p>
              </div>
              <div class="text-center">
                <p class="department-link">Find Out More</p>
              </div>
            </div>
            <div class="department-card" style="box-shadow: 0 0 10px;">
              <h1 class="department-name"><strong>Cardiology</strong></h1>
              <div class="d-flex justify-content-center align-items-center align-content-center"><img class="description-doctor" src="assets/img/doctor-info.png" width="100" height="100">
                <p>Description<span style="font-weight: normal !important;">: The cardiology department specializes in the diagnosis and&nbsp;treatment of heart and cardiovascular diseases. Cardiologists and&nbsp;cardiovascular specialists provide care for patients with conditions&nbsp;such as coronary artery disease, heart failure, arrhythmias, and&nbsp;hypertension</span></p>
              </div>
              <div class="text-center">
                <p class="department-link">Find Out More</p>
              </div>
            </div>
            <div class="department-card" style="box-shadow: 0 0 10px;">
              <h1 class="department-name"><strong>Cardiology</strong></h1>
              <div class="d-flex justify-content-center align-items-center align-content-center"><img class="description-doctor" src="assets/img/doctor-info.png" width="100" height="100">
                <p>Description<span style="font-weight: normal !important;">: The cardiology department specializes in the diagnosis and&nbsp;treatment of heart and cardiovascular diseases. Cardiologists and&nbsp;cardiovascular specialists provide care for patients with conditions&nbsp;such as coronary artery disease, heart failure, arrhythmias, and&nbsp;hypertension</span></p>
              </div>
              <div class="text-center">
                <p class="department-link">Find Out More</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
