<section>
  <div>
    <h2 class="admin-heading">&nbsp;</h2>
  </div>
</section>
<div>
  <div class="container">
    <div class="row">
      <div class="col-md-6">
        <section style="text-align: center">
          <img src="assets/img/doctor.png" width="250" height="370"></section>
      </div>
      <div class="col-md-6">
        <section>
          <div class="container text-center">
            <div style="border-color: rgb(238,238,238);border-right-style: solid;border-bottom-style: solid;border-left-style: solid;padding-bottom: 0;width: 500px;">
              <h4 class="text-center" style="border-style: solid;border-color: rgb(238,238,238);background: rgb(238,238,238);">Doctor Details</h4>
              <div>

                <form #addDoctorForm = 'ngForm' (submit) =onSubmit(addDoctorForm)>
                  <div class="form-div-area">
                    <input class="form-control form-input"
                           type="text"
                           placeholder="Name"
                           name="user_name"
                           id="user_name"
                           [(ngModel)]="userName"
                           ngModel
                           required
                           #user_name="ngModel">
                  </div>
                  <div class="form-div-area">
                    <input class="form-control form-input"
                           type="text"
                           placeholder="Surname"
                           name="user_surname"
                           id="user_surname"
                           [(ngModel)]="userSurname"
                           (ngModelChange)="onUserSurnameChange()"
                           ngModel
                           required
                           #user_surname="ngModel">
                  </div>
                  <div class="form-div-area">
                    <input class="form-control form-input"
                           type="text"
                           placeholder="Email Address"
                           name="user_email"
                           id="user_email"
                           [(ngModel)]="userName + userSurnameFirstLetter + emailNum + baseEmail"
                           ngModel
                           required
                           readonly
                           #user_email="ngModel">
                  </div>
                  <div class="form-div-area">
                    <input class="form-control form-input"
                           type="text"
                           placeholder="License Number"
                           name="doctor_license_number"
                           id="doctor_license_number"
                           ngModel
                           required
                    >
                  </div>

                  <div class="form-div-area">
                    <select class="form-select"
                            name="doctor_ward_id"
                            id="doctor_ward_id"
                            ngModel
                            required
                            #doctor_ward_id="ngModel">
                      <option value="" disabled selected>Choose A Ward</option>
                      <option
                        *ngFor="let ward of wardsData"
                        [value]="ward.ward_id"
                      >{{ ward.ward_name }} -- {{ ward.department_name }}</option>
                    </select>
                  </div>

                  <div class="form-div-area">
                    <select class="form-select"
                            name="role_id"
                            id="role_id"
                            ngModel
                            required
                            #role_id="ngModel">
                      <option value="" disabled selected>Confirm Role</option>
                      <option
                        *ngFor="let role of rolesData"
                        [value]="role.role_id"
                        selected>{{ role.role_name }}</option>
                    </select>
                  </div>

                  <button class="btn btn-primary form-btn" type="submit" [disabled]="addDoctorForm.invalid">Add Doctor</button>
                </form>

              </div>
            </div>
          </div>
        </section>
      </div>
    </div>
  </div>
</div>
