<section>
  <div>
    <h2 class="admin-heading">HealthCare Providers</h2>
  </div>
</section>
<section>
  <div class="text-center">
    <img src="assets/img/patient.png" width="250">
    <div style="margin-bottom: 20px;"><button class="btn btn-primary" type="button" style="width: 250px;">Add A Patient</button></div>
  </div>
</section>
<section>
  <div class="container">
    <div class="text-center patients-table-div">
      <h4 class="text-center" style="border-style: solid;border-color: rgb(238,238,238);background: rgb(238,238,238);">Patient</h4>
      <div class="table-responsive">
        <table class="table">
          <thead>
          <tr>
            <th>Doctor Ref</th>
            <th>Name</th>
            <th>Surname</th>
            <th>Email</th>
            <th>Department</th>
            <th>Doctor Ref</th>
            <th>Doctor Ref</th>
            <th>Actions</th>
          </tr>
          </thead>
          <tbody>
          <tr>
            <td>Cell 1</td>
            <td>Cell 1</td>
            <td>Cell 1</td>
            <td>Cell 1</td>
            <td>Cell 1</td>
            <td>Cell 1</td>
            <td>Cell 1</td>
            <td>
              <div><span class="action-icon"><i class="far fa-eye"></i></span><span class="action-icon"><i class="fas fa-pencil-alt"></i></span></div>
            </td>
          </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</section>
