<section>
  <div>
    <h2 class="admin-heading">&nbsp;</h2>
  </div>
</section>
<div>
  <div class="container">
    <div class="row">
      <div class="col-md-6">
        <section style="text-align: center">
          <img src="assets/img/hospital3.png" width="370" height="370"></section>
      </div>
      <div class="col-md-6">
        <section>
          <div class="container text-center">
            <div style="border-color: rgb(238,238,238);border-right-style: solid;border-bottom-style: solid;border-left-style: solid;padding-bottom: 0;width: 500px;">
              <h4 class="text-center" style="border-style: solid;border-color: rgb(238,238,238);background: rgb(238,238,238);">Admin Details</h4>
              <div>

                <form>
                  <div class="form-div-area"><input class="form-control form-input" type="text" placeholder="Name" name="user_name" style="/*width: 500px;*/"></div>
                  <div class="form-div-area"><input class="form-control form-input" type="text" placeholder="Surname" name="user_email" style="/*width: 500px;*/"></div>
                  <div class="form-div-area"><input class="form-control form-input" type="text" placeholder="Surname" name="user_surname" style="/*width: 500px;*/"></div>
                  <div class="form-div-area"><input class="form-control form-input" type="text" placeholder="Licence Number" name="nurse_license_number" style="/*width: 500px;*/"></div>
                  <div class="form-div-area"><select class="form-select" name="role_id">
                    <optgroup label="This is a group">
                      <option value="12" selected="">This is item 1</option>
                    </optgroup>
                  </select></div><button class="btn btn-primary" type="button">Sign In</button>
                </form>

              </div>
            </div>
          </div>
        </section>
      </div>
    </div>
  </div>
</div>
