<section>
  <header class="heading-title">
    <h1>Our Departments</h1>
    <p>Departments are organizational units within a healthcare facility that are responsible for specific medical specialties, diagnostic services, or administrative functions.&nbsp; Departments are responsible for delivering specialized healthcare services, conducting diagnostic tests and procedures, and coordinating patient care across various disciplines.<br><br></p>
  </header>
  <div class="container">
    <div>
      <div class="row">
        <div class="col">
          <div>
            <div class="department-card" style="box-shadow: 0 0 10px;">
              <h1 class="department-name"><strong>Emergency Department</strong></h1>
              <p>Department Description<span style="font-weight: normal !important;">: The cardiology department specializes in the diagnosis and&nbsp;treatment of heart and cardiovascular diseases. Cardiologists and&nbsp;cardiovascular specialists provide care for patients with conditions&nbsp;such as coronary artery disease, heart failure, arrhythmias, and&nbsp;hypertension</span></p>
              <section class="contact-section">
                <div><span style="margin-right: 50px;"><i class="icon ion-ios-telephone-outline"></i>&nbsp;011 856 2548</span><span><i class="icon ion-ios-email-outline"></i>&nbsp;mail@hospital.com</span></div>
              </section>
              <h6 class="department-name" style="text-decoration:  underline;"><strong>Wards Within The Department</strong></h6>
              <div class="d-flex justify-content-center align-items-center align-content-center"><img class="description-doctor" src="assets/img/doctor-info.png" width="100" height="100"></div>
              <div>
                <div class="row">
                  <div class="col ward-card">
                    <div class="card ward-card-01">
                      <div class="card-body">
                        <h4 class="card-title">Trauma Ward</h4>
                        <h6 class="card-title">Room Number:&nbsp;</h6>
                        <p class="card-text"><strong><span style="background-color: rgb(248, 249, 252);">Description</span></strong><span style="font-weight: normal !important; background-color: rgb(248, 249, 252);">: The cardiology department specializes in the diagnosis and&nbsp;treatment of heart and cardiovascular diseases. Cardiologists and&nbsp;cardiovascular specialists provide care for patients with conditions&nbsp;such as coronary artery disease, heart failure, arrhythmias, and&nbsp;hypertension</span></p>
                        <p class="card-text"><span style="background-color: rgb(248, 249, 252);">Number Of Beds / Chairs: 5</span></p>
                        <p class="card-text"><span style="background-color: rgb(248, 249, 252);">Number Of Nurses: 5</span></p>
                        <p class="card-text"><span style="background-color: rgb(248, 249, 252);">Number Of Doctors: 5</span></p>
                        <p><span style="font-size: 16px;"><i class="icon ion-person"></i>&nbsp;Nurse Emily Clark&nbsp;<i class="icon ion-ios-help-outline" data-bs-toggle="tooltip" data-bss-tooltip="" data-bs-placement="bottom" title="Nurse In Charge"></i></span></p>
                      </div>
                    </div>
                    <div class="card ward-card-01">
                      <div class="card-body">
                        <h4 class="card-title">Cardiac Ward</h4>
                        <h6 class="card-title">Room Number:&nbsp;</h6>
                        <p class="card-text"><strong><span style="background-color: rgb(248, 249, 252);">Description</span></strong><span style="font-weight: normal !important; background-color: rgb(248, 249, 252);">: The cardiology department specializes in the diagnosis and&nbsp;treatment of heart and cardiovascular diseases. Cardiologists and&nbsp;cardiovascular specialists provide care for patients with conditions&nbsp;such as coronary artery disease, heart failure, arrhythmias, and&nbsp;hypertension</span></p>
                        <p class="card-text"><span style="background-color: rgb(248, 249, 252);">Number Of Beds / Chairs: 5</span></p>
                        <p class="card-text"><span style="background-color: rgb(248, 249, 252);">Number Of Nurses: 5</span></p>
                        <p class="card-text"><span style="background-color: rgb(248, 249, 252);">Number Of Doctors: 5</span></p>
                        <p><span style="font-size: 16px;"><i class="icon ion-person"></i>&nbsp;Nurse Emily Clark&nbsp;<i class="icon ion-ios-help-outline" data-bs-toggle="tooltip" data-bss-tooltip="" data-bs-placement="bottom" title="Nurse In Charge"></i></span></p>
                      </div>
                    </div>
                    <div class="card ward-card-01">
                      <div class="card-body">
                        <h4 class="card-title">Pediatric Ward</h4>
                        <h6 class="card-title">Room Number:&nbsp;</h6>
                        <p class="card-text"><strong><span style="background-color: rgb(248, 249, 252);">Description</span></strong><span style="font-weight: normal !important; background-color: rgb(248, 249, 252);">: The cardiology department specializes in the diagnosis and&nbsp;treatment of heart and cardiovascular diseases. Cardiologists and&nbsp;cardiovascular specialists provide care for patients with conditions&nbsp;such as coronary artery disease, heart failure, arrhythmias, and&nbsp;hypertension</span></p>
                        <p class="card-text"><span style="background-color: rgb(248, 249, 252);">Number Of Beds / Chairs: 5</span></p>
                        <p class="card-text"><span style="background-color: rgb(248, 249, 252);">Number Of Nurses: 5</span></p>
                        <p class="card-text"><span style="background-color: rgb(248, 249, 252);">Number Of Doctors: 5</span></p>
                        <p><span style="font-size: 16px;"><i class="icon ion-person"></i>&nbsp;Nurse Emily Clark&nbsp;<i class="icon ion-ios-help-outline" data-bs-toggle="tooltip" data-bss-tooltip="" data-bs-placement="bottom" title="Nurse In Charge"></i></span></p>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
