<div class="container nurse-dash">
  <div class="row">
      <div class="col text-center"><img src="assets/img/doctorDash.png" width="50%" style="margin-top: 30px;"></div>
      <div class="col">
          <section>
              <div class="dropdown button-drop">
<!--                <button  class="btn btn-primary dropdown-toggle button-dropdown" aria-expanded="false" data-bs-toggle="dropdown" type="button" style="background: rgba(108,131,193,0.5);">Action</button>-->
                  <div class="dropdown-menu" style="background: rgb(108,131,193);color: var(--bs-secondary-bg);"><a class="dropdown-item" href="#">First Item</a><a class="dropdown-item" href="#">Second Item</a><a class="dropdown-item" href="#">Third Item</a></div>
              </div>
          </section>
          <div class="row card-section" style="border-style: none;">
              <div class="col"><a href="#" style="color: inherit;text-decoration: none;" data-bs-target="#listOfPatients" data-bs-toggle="modal">
                      <div data-bss-hover-animate="pulse" class="card-1" style="background: rgba(108,131,193,0.5);">
                          <h5 class="card-1-text" style="font-size: 18px;">Patients In Ward</h5>
                          <h1 class="card-1-info">{{patientsCount}}</h1>
                      </div>
                  </a>
              </div>
              <div class="col"><a href="#" style="color: inherit;text-decoration: none;" data-bs-target="#listOfNurses" data-bs-toggle="modal">
                  <div data-bss-hover-animate="pulse" class="card-1" style="background: rgba(108,131,193,0.5);">
                      <h5 class="card-1-text" style="font-size: 18px;">Nurses In Ward</h5>
                      <h1 class="card-1-info">{{nurseCount}}</h1>

                  </div>
              </a>
              </div>
          </div>
          <div class="row card-section" style="border-style: none;">
              <div class="col">
                <a href="#" style="color: inherit;text-decoration: none;" data-bs-target="#listOfDoctors" data-bs-toggle="modal">
                  <div data-bss-hover-animate="pulse" class="card-1" style="background: rgba(108,131,193,0.5);">
                      <h5 class="card-1-text" style="font-size: 18px;">Doctors In Ward</h5>
                      <h1 class="card-1-info">{{doctorCount}}</h1>
                  </div>
                </a>
              </div>
              <div class="col">
                <a href="#" style="color: inherit;text-decoration: none;" data-bs-target="#listOfApp" data-bs-toggle="modal">
                  <div data-bss-hover-animate="pulse" class="card-1" style="background: rgba(108,131,193,0.5);">
                      <h5 class="card-1-text" style="font-size: 18px;">Appointments In Total</h5>
                      <h1 class="card-1-info">{{appointmentCount}}</h1>
                  </div>
                </a>
              </div>
          </div>
      </div>
  </div>
</div>
<div class="container">
  <div class="modal fade" role="dialog" tabindex="-1" id="listOfPatients">
      <div class="modal-dialog modal-xl modal-dialog-centered" role="document">
          <div class="modal-content">
              <div class="modal-header">
                  <h3 class="display-6 modal-title">Patients</h3><button class="btn-close" type="button" aria-label="Close" data-bs-dismiss="modal"></button>
              </div>
              <div class="modal-body">
                  <div class="text-center">
                      <p>List of patients within the same ward, you can view, edit files and book appointments</p>
                      <img src="assets/img/nursAdmin.png" width="15%">
                  </div>
                  <div>
                      <div>
                          <div class="table-responsive" style="text-align: center;">
                              <table class="table">
                                  <thead>
                                      <tr>
                                        <th>Name & Surname</th>
                                        <th>Reference</th>
                                        <th>Admitted On</th>
                                        <th>Admitted For</th>
                                        <th>Current Condition</th>
                                        <th>Actions</th>
                                      </tr>
                                  </thead>
                                  <tbody>
                                      <tr *ngFor="let patient of patients">
                                        <td>{{patient.user_name}} {{patient.user_surname}}</td>
                                        <td>{{patient.user_reference}}</td>
                                        <td>{{patient.join_date | date:'medium'}}</td>
                                        <td>{{patient.admission_reason | slice:0:20}}</td>
                                        <td [ngStyle]="{'color': getConditionColor(patient.condition_name)}"><strong>{{patient.condition_name}}</strong></td>
                                          <td>
                                           <a [routerLink]="['/Update-File/', patient.user_reference,patient.file_id]"><span data-bs-toggle="tooltip" data-bss-tooltip="" style="margin-right: 20px;" title="Open File"><i class="fa fa-book" style="font-size: 20px;"></i></span></a>
                                            <a (click)="openModal(patient.file_id, patient.condition_id)" style="color: inherit;text-decoration: none;" data-bs-target="#updateStatus" data-bs-toggle="modal" > <span style="margin-right: 20px;"><i class="fa fa-hourglass-2" data-bs-toggle="tooltip" data-bss-tooltip="" style="font-size: 20px;" title="Update Status"></i></span> </a>
                                            <span data-bs-toggle="tooltip" data-bss-tooltip="" style="margin-right: 20px;" title="Book An Appointment"><i class="fa fa-calendar-o" style="font-size: 20px;"></i></span>
                                            <span style="margin-right: 20px;"><i class="fa fa-sign-out" data-bs-toggle="tooltip" data-bss-tooltip="" style="font-size: 20px;" title="Discharge"></i></span>
                                          </td>
                                      </tr>
                                  </tbody>
                              </table>
                          </div>
                      </div>
                  </div>
              </div>
              <div class="modal-footer"><button class="btn btn-light" type="button" data-bs-dismiss="modal">Close</button></div>
          </div>
      </div>
  </div>

  <div class="modal fade" role="dialog" tabindex="-1" id="listOfNurses">
    <div class="modal-dialog modal-xl modal-dialog-centered" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h3 class="display-6 modal-title">Nurses</h3><button class="btn-close" type="button" aria-label="Close" data-bs-dismiss="modal"></button>
        </div>
        <div class="modal-body">
          <div class="text-center">
            <p>List of Nurses within the same ward</p>
            <img src="assets/img/nursAdmin.png" width="15%">
          </div>
          <div>
            <div>
              <div class="table-responsive" style="text-align: center;">
                <table class="table">
                  <thead>
                  <tr>
                    <th>Name</th>
                    <th>Surname</th>
                    <th>Email</th>
                  </tr>
                  </thead>
                  <tbody>
                  <tr *ngFor="let nurse of nurses">
                    <td>{{nurse.user_name}}</td>
                    <td>{{nurse.user_surname}}</td>
                    <td>{{nurse.user_email}}</td>
                  </tr>
                  </tbody>
                </table>
              </div>
            </div>
          </div>
        </div>
        <div class="modal-footer"><button class="btn btn-light" type="button" data-bs-dismiss="modal">Close</button></div>
      </div>
    </div>
  </div>

  <div class="modal fade" role="dialog" tabindex="-1" id="listOfDoctors">
    <div class="modal-dialog modal-xl modal-dialog-centered" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h3 class="display-6 modal-title">Doctors</h3><button class="btn-close" type="button" aria-label="Close" data-bs-dismiss="modal"></button>
        </div>
        <div class="modal-body">
          <div class="text-center">
            <p>List of Doctors within the same ward</p>
            <img src="assets/img/nursAdmin.png" width="15%">
          </div>
          <div>
            <div>
              <div class="table-responsive" style="text-align: center;">
                <table class="table">
                  <thead>
                  <tr>
                    <th>Name</th>
                    <th>Surname</th>
                    <th>Email</th>
                    <th></th>
                  </tr>
                  </thead>
                  <tbody>
                  <tr *ngFor="let doctor of doctors">
                    <td>{{doctor.user_name}}</td>
                    <td>{{doctor.user_surname}}</td>
                    <td>{{doctor.user_email}}</td>
                    <td [innerHTML]="doctor.user_id === user_id ? '<strong>(You)</strong>' : ''"></td>
                  </tr>
                  </tbody>
                </table>
              </div>
            </div>
          </div>
        </div>
        <div class="modal-footer"><button class="btn btn-light" type="button" data-bs-dismiss="modal">Close</button></div>
      </div>
    </div>
  </div>

  <div class="modal fade" role="dialog" tabindex="-1" id="updateStatus">
    <div class="modal-dialog modal-xl modal-dialog-centered" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h3 class="display-6 modal-title">Update Status</h3><button class="btn-close" type="button" aria-label="Close" data-bs-dismiss="modal"></button>
        </div>
        <div class="modal-body">
          <div class="text-center">
            <p>Is the patient making progress or getting worse?&nbsp;</p>
          </div>
          <div>
            <form class="text-center" #updateConditionForm="ngForm" (ngSubmit)="onSubmit(updateConditionForm)">
              <select class="form-select input-field"
                      name="patientConditionID"
                      id="patientConditionID"
                      ngModel
                      required
                      #patientConditionID="ngModel">

                <option value="" disabled selected>Select Patient's Condition</option>
                <option *ngFor="let condition of conditionsData"
                        [value]="condition.condition_id">{{ condition.condition_name }} -- {{ condition.condition_description }}
                </option>
              </select>
              <button class="btn btn-primary" type="submit">Update</button></form>
          </div>
        </div>
        <div class="modal-footer"><button class="btn btn-light" type="button" data-bs-dismiss="modal">Close</button></div>
      </div>
    </div>
  </div>

  <div class="modal fade" role="dialog" tabindex="-1" id="bookAppointment">
    <div class="modal-dialog modal-xl modal-dialog-centered" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h3 class="display-6 modal-title">Schedule Appointment</h3><button class="btn-close" type="button" aria-label="Close" data-bs-dismiss="modal"></button>
        </div>
        <div class="modal-body">
          <div>
            <div class="text-center">
              <p>Schedule an appointment with for the patient</p><img src="assets/img/nursAppoint.png" width="20%">
            </div>
            <div>
              <section class="position-relative py-4 py-xl-5">
                <div class="container">
                  <div class="row d-flex justify-content-center">
                    <div class="col-md-6 col-xl-4">
                      <div class="card mb-5" style="border-color: rgb(0,1,65);">
                        <div class="card-body d-flex flex-column align-items-center" style="border-style: none;border-color: rgb(0,1,65);">

                          <form style="width: 250px;" class="text-center" #bookAppointmentForm="ngForm" (ngSubmit)="onSubmitAppointment(bookAppointmentForm)">
                            <div class="mb-3">

                              <select class="form-select input-field"
                                      name="doctorID"
                                      id="doctorID"
                                      ngModel
                                      required
                                      #doctorID="ngModel">
                                <option value="" disabled selected>Select A Doctor</option>
                                <option *ngFor="let doctor of doctors"
                                        [value]="doctor.doctor_id">
                                  {{doctor.user_name}} {{doctor.user_surname}} - {{doctor.user_email}}
                                </option>
                              </select>

                            </div>
                            <div class="mb-3">
                              <input class="form-control"
                                     name="appointmentDate"
                                     id="appointmentDate"
                                     ngModel
                                     required
                                     #appointmentDate="ngModel"
                                     type="date">
                            </div>

                            <div class="mb-3">

                              <select class="form-select"
                                      name="appointmentTime"
                                      id="appointmentTime"
                                      ngModel
                                      required
                                      #appointmentTime="ngModel"
                              >

                                <option value="" disabled selected>Select a Time</option>
                                <option *ngFor="let i of '. '.repeat(13).split(''); let idx = index" [value]="(8 + idx < 10 ? '0' : '') + (8 + idx) + ':00'">
                                  {{ (8 + idx < 10 ? '0' : '') + (8 + idx) + ':00' }} {{ 8 + idx < 12 ? 'am' : 'pm' }}
                                </option>

                              </select>

                            </div>
                            <div class="mb-3">
                                <textarea class="form-control"
                                          name="appointmentReason"
                                          id="appointmentReason"
                                          ngModel
                                          required
                                          #appointmentReason="ngModel"
                                          placeholder="Reason for appointment">

                                </textarea>
                            </div>

                            <div class="mb-3">
                              <button class="btn btn-primary d-block w-100" type="submit" style="background: rgb(93,116,228);color: var(--bs-body-bg);font-weight: bold;border-color: #000141;">Schedule Appointment</button>
                            </div>
                          </form>

                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </section>
            </div>
          </div>
        </div>
        <div class="modal-footer"><button class="btn btn-light" type="button" data-bs-dismiss="modal">Close</button></div>
      </div>
    </div>
  </div>

  <div class="modal fade" role="dialog" tabindex="-1" id="listOfApp">
    <div class="modal-dialog modal-xl modal-dialog-centered" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h3 class="display-6 modal-title">Appointments</h3><button class="btn-close" type="button" aria-label="Close" data-bs-dismiss="modal"></button>
        </div>
        <div class="modal-body">
          <div class="text-center">
            <p>List of appointments</p><img src="assets/img/nursAppoint.png" width="15%">
          </div>
          <div>
            <div>
              <div class="table-responsive" style="text-align: center;">
                <table class="table">
                  <thead>
                  <tr>
                    <th>Patient Reference</th>
                    <th>Date & Time</th>
                    <th>Reason</th>
                    <th>Created By</th>
                  </tr>
                  </thead>
                  <tbody>
                  <tr *ngFor="let appointment of appointments">
                    <td>{{appointment.user_reference}}</td>
                    <td>{{appointment.appointment_date | date:'mediumDate'}} at {{appointment.appointment_time}}</td>
                    <td>{{appointment.appointment_reason | slice:0:20}}</td>
                    <td>{{appointment.created_by}}</td>

                  </tr>
                  </tbody>
                </table>
              </div>
            </div>
          </div>
        </div>
        <div class="modal-footer"><button class="btn btn-light" type="button" data-bs-dismiss="modal">Close</button></div>
      </div>
    </div>
  </div>


</div>
